#player-container,
#episode-selector,
#season-selector {
  position: fixed;
  top: calc(10px + var(--header-height));
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: var(--background-transparent);
  border: 1px solid var(--fourth);
  display: none;
  justify-content: center;
  padding-top: 50px;
}

#close-season-selector,
#close-episode-selector,
#close-player {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: var(--link-cursor);
}

#player {
  display: flex;
  gap: 10px;
}

#player video {
  width: 900px;
  border-radius: var(--border-radius);
}

#video-top {
  display: flex;
  gap: 10px;
  height: var(--top-height);
}

#ep-number::before {
  content: "(Ep. ";
}

#ep-number::after {
  content: ")";
}

#video-right {
  display: flex;
  flex-direction: column;
  margin-top: var(--top-height);
  gap: 5px;
}
