:root {
  --searchbar-height: 110px;
  --searchbar-width: 45vw;
}

#searchbar-container {
  position: fixed;
  top: var(--nav-height);
  height: fit-content;
  transform: translateY(-100%);
  z-index: -1;
  opacity: 0;
}

.barcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--searchbar-height);
  width: 100vw;
  background: #141519;
}

.searchbar-searching {
  transform: translateY(var(--nav-height)) !important;
  opacity: 100 !important;
}

#searchbar {
  color: var(--second);
  background: transparent;
  border: none;
  font-size: 30px;
  width: var(--searchbar-width);
  border-bottom: 2px solid var(--third);
  transform: translateX(15px);
}

#searchbar:focus {
  border-bottom-color: var(--accent-color);
}

#eraseSearchbar {
  color: var(--second);
  font-size: 30px;
  transform: translateX(-100%);
  /* opacity: 0; */
}

#dimmed-searching {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

#anime-list {
  /* transform: translateY(var(--nav-height)) !important; */
  position: absolute;
  list-style: none;
  flex-direction: column;
  height: calc(100vh - var(--nav-height) - var(--searchbar-height));
  width: 100vw;
  background: #000000ec;
  opacity: 0;
  margin: 0;
  padding: 20px calc((100vw - var(--searchbar-width)) / 2);
  overflow-x: scroll;
  visibility: hidden;
}

.anime-list-item {
  padding: 10px;
  cursor: var(--link-cursor);
}

.anime-list-item:hover {
  background: rgb(24, 24, 24);
}

@media screen and (max-width: 1400px) {
  #searchbar {
    width: 100% !important;
    font-size: 25px !important;
  }

  #anime-list {
    padding: 25px;
  }
}
